<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as requisições para a pasta public_html
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]

    # Redireciona para o index.php dentro da pasta public se não for um arquivo ou pasta
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /public/index.php [L]
    
</IfModule>
