// Imports
@import "../modules/variables.scss";

// main code
@mixin section-title($color) {
  color: $color;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 4rem 0;

  // media queries
  @media (max-width: 767px) {
    /* portrait && landscape */
    font-size: 2.8rem;
  }
}
